:root {
	--el-font-size-base: var(--z-font-size-base);
}

.main-scrollbar {
	> .el-scrollbar__bar.is-vertical {
		z-index: 5;
	}
}

.el-menu-item:hover,
.el-sub-menu__title:hover {
	background-color: rgba($color: var(--z-nav-hover-rgb), $alpha: 0.2) !important;
}

.el-menu-item,
.el-sub-menu {
	position: relative;
	&:after {
		content: '';
		border-left: 3px solid transparent;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
	}
}
.el-menu-item.is-active {
	background-color: rgba($color: var(--z-nav-hover-rgb), $alpha: 0.6);
	&:after {
		content: '';
		border-left: 3px solid #fff;
	}
}
.el-sub-menu {
	li {
		// margin-left: -3px;
	}
}

.el-menu-item,
.el-sub-menu__title,
.el-sub-menu .el-icon,
.el-menu-item [class^='el-icon'] {
	color: var(--z-nav-font-color) !important;
	font-size: torem(14px);
}

.el-menu-item-group__title {
	font-size: torem($default-font-size);
}

.el-dropdown:focus-within,
.el-dropdown-link:focus-within {
	border: none;
	cursor: pointer;
	outline: none;
}

.el-radio__label {
	font-size: torem(14px);
}

.el-footer {
	height: torem(46px);
}

.el-button {
	@extend .shadow-1;
}

.el-dialog.is-fullscreen {
	overflow: hidden;
}

.el-dialog__header {
	@extend .shadow-2;
}

.el-button--small {
	padding: torem(5px) !important;
	.icon {
		font-size: torem(14px);
		margin-right: 0;
	}
}

.el-cascader__dropdown.el-popper,
.el-picker__popper.el-popper,
.el-dropdown__popper.el-popper,
.el-select-dropdown,
.el-dropdown-menu {
	border: 1px solid var(--z-line) !important;
	@extend .shadow-2;
}

.el-select {
	.el-select__wrapper {
		background-color: var(--z-theme) !important;
		box-shadow: 0 0 0 1px var(--z-line) inset;
		&.is-hovering {
			box-shadow: 0 0 0 1px var(--z-nav-hover) inset;
		}
	}

	.el-select__placeholder {
		font-size: torem(13px);
	}
	.el-select__placeholder:not(.is-transparent) {
		color: var(--z-font-color) !important;
	}
}
.el-select-dropdown {
	border: none !important;
	.is-hovering {
		background-color: rgba($color: var(--z-nav-hover-rgb), $alpha: 0.2) !important;
	}
}

.el-dropdown-menu,
.el-popper.is-light {
	border-color: var(--z-line) !important;
	background-color: var(--z-theme) !important;

	span,
	li {
		color: var(--z-font-color);

		&.is-selected > * {
			color: var(--z-nav-hover) !important;
		}

		&.hover,
		&:focus {
			background-color: rgba($color: var(--z-nav-hover-rgb), $alpha: 0.2) !important;
		}
	}

	.el-menu--popup {
		span,
		li {
			color: var(--z-nav-font-color) !important;
		}
	}
}

.el-popper.is-light .el-popper__arrow::before {
	border-color: var(--z-line);
	background-color: var(--z-theme) !important;
}

.el-picker-panel {
	background-color: var(--z-theme) !important;
	color: var(--z-font-color) !important;

	.el-date-table th {
		border-bottom-color: var(--z-line) !important;
	}

	.el-icon svg {
		color: var(--z-font-color) !important;
		position: relative;
		top: torem(3px);
	}

	.is-left {
		border-right-color: var(--z-line) !important;
	}

	.el-button {
		background-color: var(--z-theme);
		border: 1px solid var(--z-line) !important;

		&:hover {
			background-color: var(--z-bg-secondary) !important;
		}
		span {
			color: var(--z-font-color) !important;
		}

		&:nth-child(2) {
			border: 1px solid var(--z-main) !important;
			background-color: var(--z-main) !important;
			&:hover {
				background-color: var(--z-main) !important;
			}
			span {
				color: var(--z-nav-font-color) !important;
			}
		}
	}

	.el-date-picker__time-header,
	.el-date-range-picker__time-header {
		border-bottom-color: var(--z-line) !important;
	}

	.el-time-panel,
	.el-time-panel__footer,
	.el-picker-panel__footer {
		background-color: var(--z-theme) !important;
		border-top-color: var(--z-line) !important;
	}

	.el-time-panel {
		border-color: var(--z-line) !important;
	}

	.el-time-panel__content::before {
		border-top-color: var(--z-line) !important;
		border-bottom-color: var(--z-line) !important;
	}

	.el-time-spinner__item {
		&:hover:not(.is-disabled):not(.is-active) {
			background-color: var(--z-bg-secondary) !important;
		}
		&.is-active {
			color: var(--z-font-color) !important;
		}
	}

	.el-input__wrapper {
		background-color: var(--z-theme);
		box-shadow: 0 0 0 1px var(--z-line, var(--z-line)) inset;
	}

	.el-date-table td.in-range .el-date-table-cell {
		background-color: var(--z-bg-secondary) !important;
	}

	td.start-date .el-date-table-cell__text,
	td.end-date .el-date-table-cell__text {
		color: var(--z-nav-font-color);
	}
}

.el-input,
.el-input.is-disabled {
	.el-input__wrapper {
		background-color: var(--z-theme) !important;
		box-shadow: 0 0 0 1px var(--z-line, var(--z-line)) inset;

		&.is-focus,
		&:hover {
			box-shadow: 0 0 0 1px var(--z-nav-hover) inset;
		}
	}
	.el-input__inner {
		color: var(--z-font-color) !important;
	}
}

.el-input-number {
	.el-input-number__increase,
	.el-input-number__decrease {
		background-color: var(--z-theme);
		color: var(--z-font-color);
	}

	.el-input-number__increase {
		border-left-color: var(--z-line) !important;
	}

	.el-input-number__decrease {
		border-right-color: var(--z-line) !important;
	}
}

.el-textarea {
	.el-textarea__inner {
		background-color: var(--z-theme) !important;
		box-shadow: 0 0 0 1px var(--z-line, var(--z-line)) inset;
		color: var(--z-font-color) !important;
	}
}

.el-date-editor {
	background-color: var(--z-theme) !important;
	&.el-input__wrapper,
	&.el-input__wrapper:focus {
		background-color: var(--z-theme) !important;
		box-shadow: 0 0 0 1px var(--z-clor3, var(--z-line)) inset;
	}

	&.el-input__wrapper:hover {
		box-shadow: 0 0 0 1px var(--z-clor3, var(--z-nav-hover)) inset;
	}

	.el-range-input {
		color: var(--z-font-color) !important;
	}
}

.el-switch {
	.el-switch__core {
		background-color: var(--z-bg-secondary);
		border-color: var(--z-bg-secondary);
	}
}

.el-popconfirm {
	.el-popconfirm__main {
		color: var(--z-font-color) !important;
	}
}

.el-tooltip__trigger,
.el-dropdown:focus-within,
.el-dropdown-link:focus-within {
	border: none;
	outline: none;
}

.el-link {
	text-decoration: underline;
}

.el-message-box {
	.el-message-box__title {
		font-size: torem(16px);
	}
	.el-message-box__content {
		font-size: $default-font-size;
	}
	.el-icon svg {
		width: torem(18px);
	}
}

.el-tree-node:focus > .el-tree-node__content {
	background-color: rgba($color: var(--z-nav-hover-rgb), $alpha: 0.1);
	color: var(--z-nav-hover);
}

.el-tree-node__content:hover {
	background-color: rgba($color: var(--z-nav-hover-rgb), $alpha: 0.05);
}

.el-textarea .el-textarea__inner {
	&:focus {
		box-shadow: 0 0 0 1px var(--z-nav-hover, var(--z-nav-hover)) inset;
	}
}

.el-table {
	thead {
		.cell {
			white-space: nowrap;
		}
	}
}

.tabs-ui {
	.el-tabs__header {
		margin: 0;
	}
	.el-tabs__nav-wrap::after {
		height: 0;
	}
	.el-tabs__item {
		height: 38px;
	}
}

body.light {
	.el-popconfirm__action {
		button:nth-child(2) {
			background-color: var(--z-main);
			span {
				color: var(--z-theme) !important;
			}
		}
	}
	.el-header {
		.el-switch {
			.el-switch__core .el-switch__action {
				background-color: #eee;
			}
		}
	}
}

body.dark {
	.el-tag {
		background-color: var(--z-bg-secondary);
		border: 1px solid var(--z-line);
	}

	.el-popconfirm__action {
		button:nth-child(1) {
			border: 1px solid var(--z-line);
			&:hover {
				background-color: var(--z-bg-secondary);
			}
		}
		button:nth-child(2) {
			background-color: var(--z-bg-secondary);
			border-color: var(--z-line);
			span {
				color: var(--z-font-color);
			}
		}
	}

	.el-button:not(.el-button--primary):not(.el-button--info):not(.el-button--success):not(
			.el-button--warning
		):not(.el-button--danger) {
		--el-button-border-color: var(--z-line);
		--el-button-bg-color: var(--z-bg-secondary);
		--el-button-text-color: var(--z-font-color);
		--el-button-hover-text-color: var(--z-font-color);
		--el-button-hover-bg-color: var(--z-theme);
		--el-button-hover-border-color: var(--z-line);
		--el-button-active-text-color: var(--z-font-color);
		--el-button-active-border-color: var(--z-line);
		--el-button-active-bg-color: var(--z-colo4);
		--el-button-hover-link-text-color: var(--z-font-color);
		--el-button-active-color: var(--z-font-color);
	}

	.el-empty {
		--el-empty-fill-color-0: var(--z-theme);
		--el-empty-fill-color-1: #4b4b52;
		--el-empty-fill-color-2: #36383d;
		--el-empty-fill-color-3: #1e1e20;
		--el-empty-fill-color-4: #262629;
		--el-empty-fill-color-5: #202124;
		--el-empty-fill-color-6: #212224;
		--el-empty-fill-color-7: #1b1c1f;
		--el-empty-fill-color-8: #1c1d1f;
		--el-empty-fill-color-9: #18181a;
	}

	.el-message-box {
		background-color: var(--z-theme);
		.el-message-box__title {
			color: var(--z-font-color);
		}
	}
	.el-message-box__message {
		color: var(--z-font-color);
	}

	.v-md-editor {
		background-color: var(--z-bg-secondary);
	}
}
