@font-face {
	font-family: 'FZKTJW'; // 楷体
	src: url('../assets/fonts/FZKTJW--GB1-0.woff2'), format('woff2'),
		url('../assets/fonts/FZKTJW--GB1-0.woff'), format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FZSSJW'; // 宋体
	src: url('../assets/fonts/FZSSJW--GB1-0.woff2'), format('woff2'),
		url('../assets/fonts/FZSSJW--GB1-0.woff'), format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FZHTJW'; // 黑体
	src: url('../assets/fonts/FZHTJW--GB1-0.woff2'), format('woff2'),
		url('../assets/fonts/FZHTJW--GB1-0.woff'), format('woff');
	font-weight: normal;
	font-style: normal;
}
